*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}  

body {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;

    touch-action: manipulation;
    user-select: none;
    background-color: rgb(43, 40, 39);
    color: whitesmoke;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 20px;
 background-color: rgb(190, 2, 2);
  border: none;
  border-radius: 5px;
  color: white;
 height: 4rem;
  width: 90%;


}

input[type="range"] {
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 2rem;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: 200px;
    bottom: 0px;
  margin-top: 30px;
}
