*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}  

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;

    touch-action: manipulation;
    background-color: rgb(43, 40, 39);
    color: whitesmoke;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 20px;
 background-color: rgb(190, 2, 2);
  border: none;
  border-radius: 5px;
  color: white;
 
}